
<div class="item-box">
    <h1>{{site_name}} Cashback Reward</h1>
    <hr/>

    {{#each offers}}<p>{{this}}</p>{{/each}}

    <div class="img-container">
        <img src={{img_src_url}}>
    </div>

    <a class="button" href={{cashback_url}} target="_blank">
        Go to Cashback Reward
    </a>

    <br/>
    You must login to <a href="https://www.discover.com" target="_blank">Discover.com</a> first.

</div>

<div class="expiry">
    No Expiry Date
</div>